<footer class="footer p-4">
  <div class="container">
    <div class="grid row">
      <div class="col-md-3">
        <div class="footer-section">
          <h5>وبسایت</h5>
          <ul class="contact-list">
            <li><i class="pi pi-home" [routerLink]="['/']"></i>خانه</li>
            <li>
              <i class="pi pi-box" [routerLink]="['/product-list']"></i>محصولات
            </li>
            <li>
              <i class="pi pi-user" [routerLink]="['/about-us']"></i>درباره ما
            </li>
            <li>
              <i class="pi pi-envelope" [routerLink]="['/contact-us']"></i>تماس
              با ما
            </li>
          </ul>
        </div>
      </div>

      <!-- Address Section -->
      <div class="col-md-5">
        <div class="footer-section">
          <h5>آدرس</h5>
          <p>
            تبریز، چایکنار مابین کوی فاطمی و کلانتر کوچه، ساختمان الکاپی، طبقه
            همکف و دوم
          </p>
        </div>
      </div>

      <!-- Contact Info Section -->
      <div class="col-md-4">
        <div class="footer-section">
          <h5>تماس با ما</h5>
          <ul class="contact-list">
            <li><i class="pi pi-phone"></i> 041-51071000</li>
            <li><i class="pi pi-calendar"></i> 041-313109523</li>
            <li><i class="pi pi-whatsapp"></i> 041-51071000</li>
            <li><i class="pi pi-envelope"></i> 09044580920</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
