<div class="container">
  <!-- Search and Filter Controls -->
  <form
    (ngSubmit)="onFilter()"
    [formGroup]="filterForm"
    #form
    class="row g-3 mb-4 align-items-center filterForm"
  >
    <!-- Search Input -->
    <div class="col-lg-3 col-md-6">
      <input
        type="text"
        id="name"
        placeholder="جستجو بر اساس نام"
        formControlName="search"
        pInputText
        class="form-control"
      />
    </div>

    <!-- Categories Tree Select -->
    <div class="col-lg-3 col-md-6">
      <p-treeSelect
        [options]="categoryList"
        id="categories"
        #categories
        [metaKeySelection]="false"
        selectionMode="multiple"
        placeholder="دسته‌بندی"
        styleClass="w-100"
        (onNodeSelect)="onCategoryChange()"
        formControlName="categories"
      ></p-treeSelect>
    </div>

    <!-- Brands Select -->
    <div class="col-lg-3 col-md-6">
      <p-select
        [options]="brands"
        id="brands"
        name="brands"
        #brand
        placeholder="برند محصول"
        styleClass="w-100"
        formControlName="brand"
      ></p-select>
    </div>

    <div class="col-lg-1 col-md-3 col-sm-6 text-center">
      <p-button
        label="فیلتر"
        icon="pi pi-filter"
        type="submit"
        class="btn-full"
      ></p-button>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6 text-center">
      <p-button
        label="برداشتن فیلتر"
        icon="pi pi-filter-slash"
        (onClick)="reset()"
        class="btn-full"
      ></p-button>
    </div>
  </form>
</div>
