<form
  [formGroup]="editForm"
  (ngSubmit)="onEditProduct()"
  #form
  class="card p-4 shadow-sm"
>
  <div class="card-body">
    <!-- Product Name -->
    <div class="mb-3">
      <label for="name" class="form-label fw-bold">نام محصول</label>
      <input
        id="name"
        type="text"
        name="name"
        class="form-control"
        [value]="product?.name"
        [disabled]="true"
      />
    </div>

    <!-- Summary and Upload -->
    <div class="row g-3">
      <div class="col-md-6">
        <label for="summary" class="form-label fw-bold">خلاصه</label>
        <input
          id="summary"
          type="text"
          name="summary"
          formControlName="summary"
          class="form-control"
          [value]="product?.summary"
        />
      </div>
      <div class="col-md-6 text-center">
        <label for="upload" class="form-label fw-bold">آپلود تصویر</label>
        <div class="card p-3">
          <p-fileUpload
            #fileUpload
            name="image"
            formControlName="image"
            [url]="url"
            accept="image/*"
            [auto]="false"
            appImgUpload
            chooseLabel="آپلود تصویر"
            [customUpload]="true"
            [showCancelButton]="false"
            [showUploadButton]="false"
            (uploadHandler)="onUpload($event)"
          >
          </p-fileUpload>
        </div>
      </div>
    </div>

    <!-- Brand and Categories -->
    <div class="row g-3 mt-3">
      <div class="col-md-6">
        <label for="brand" class="form-label fw-bold">برند</label>
        <p-select
          [options]="brands"
          id="brands"
          name="brands"
          placeholder="برند محصول"
          class="form-select"
          [disabled]="true"
        ></p-select>
      </div>
      <div class="col-md-6">
        <label for="categories" class="form-label fw-bold">دسته بندی</label>
        <p-treeSelect
          [options]="categoryList"
          id="categories"
          [metaKeySelection]="false"
          selectionMode="multiple"
          placeholder="دسته‌بندی"
          formControlName="categories"
          class="form-select"
        ></p-treeSelect>
      </div>
    </div>

    <!-- Price and Quantity -->
    <div class="row g-3 mt-3">
      <!-- Price -->
      <div class="col-md-6">
        <label for="price" class="form-label fw-bold">قیمت</label>
        <input
          id="price"
          type="number"
          formControlName="price"
          class="form-control"
          placeholder="قیمت محصول"
          [value]="product?.price"
        />
      </div>

      <!-- Quantity in Stock -->
      <div class="col-md-6">
        <label for="quantity" class="form-label fw-bold">تعداد در انبار</label>
        <input
          id="quantity"
          type="number"
          formControlName="quantity"
          class="form-control"
          placeholder="تعداد در انبار"
          [value]="product?.quantity"
        />
      </div>
    </div>

    <!-- Description -->
    <div class="mt-3">
      <label for="description" class="form-label fw-bold">توضیحات</label>
      <textarea
        rows="5"
        class="form-control"
        name="description"
        formControlName="description"
        id="description"
        [value]="product?.description"
      ></textarea>
    </div>

    <!-- Actions -->
    <div class="d-flex justify-content-between align-items-center mt-4">
      <p-button
        label="پاک کردن فرم"
        [link]="true"
        class="btn"
        (click)="onReset()"
      ></p-button>
      <p-button label="تغییر محصول" type="submit" class="btn"></p-button>
    </div>

    <!-- Validation Feedback -->
    <div
      *ngIf="editForm.touched && editForm.dirty && editForm.invalid"
      class="alert alert-danger mt-3 text-center"
    >
      لطفا از ورودی‌های معتبر استفاده کنید
    </div>
  </div>
</form>
