<form [formGroup]="productForm" (ngSubmit)="onAddProduct()" #form>
  <p-card>
    <div class="control">
      <label for="name">نام محصول</label>
      <input
        id="name"
        type="text"
        name="name"
        formControlName="name"
        pInputText
      />
    </div>
    <div class="upload-container">
      <div class="control summary">
        <label for="summary">خلاصه</label>
        <input
          id="summary"
          type="text"
          name="summary"
          formControlName="summary"
          pInputText
        />
      </div>
      <div class="card flex flex-col gap-6 items-center justify-center upload">
        <p-fileUpload
          name="image"
          formControlName="image"
          [url]="url"
          (onUpload)="onUpload($event)"
          formControlName="image"
          accept="image/*"
          [auto]="true"
          appImgUpload
          chooseLabel="آپلود تصویر"
        >
          <!-- Apply the directive here -->
        </p-fileUpload>
      </div>
    </div>

    <div>
      <div class="control-row select-container">
        <div class="control brand">
          <label for="brand">برند</label>
          <p-select
            [options]="brands"
            id="brands"
            name="brands"
            formControlName="brand"
            placeholder="برند محصول"
            styleClass="w-full"
          />
        </div>
        <div class="category control">
          <label for="categories">دسته بندی</label>
          <p-treeSelect
            [options]="categoryList"
            id="categories"
            formControlName="categories"
            [metaKeySelection]="false"
            selectionMode="multiple"
            placeholder="دسته‌بندی"
            styleClass="w-full"
            (onNodeSelect)="onCategoryChange()"
          >
          </p-treeSelect>
        </div>
      </div>
    </div>

    <div class="control-row">
      <label for="description">توضیحات</label>

      <textarea
        class="control"
        rows="5"
        cols="30"
        pInputTextarea
        name="description"
        id="description"
      ></textarea>
    </div>

    <p class="form-actions">
      <p-button label="پاک کردن فرم" [link]="true" (click)="onReset()" />
      <p-button label="ثبت نام" type="submit" />
    </p>
    @if (productForm.touched&& productForm.dirty && productForm.invalid) {
    <p class="center">لطفا از ورودیهای معتبر استفاده کنید</p>
    }
  </p-card>
</form>
