<div class="table-container">
  <p-table
    #dt
    [value]="products"
    dataKey="id"
    [rows]="5"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    [globalFilterFields]="['name', 'brand', 'categories']"
    [tableStyle]="{ 'min-width': '75rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            (input)="filterGlobal($event)"
            placeholder="جستجوی همگانی"
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 22%">نام محصول</th>
        <th style="width: 22%">برند</th>
        <th style="width: 22%">دسته‌بندی</th>
        <th style="width: 22%">خلاصه</th>
        <th style="width: 12%">تعداد</th>
      </tr>
      <tr>
        <th>
          <p-columnFilter
            type="text"
            field="name"
            placeholder="جستجو بر اساس نام"
            filterMatchMode="contains"
            ariaLabel="Filter Name"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="brand"
            placeholder="جستجو بر اساس برند"
            ariaLabel="Filter Brand"
            filterMatchMode="contains"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="categories"
            placeholder="جستجو بر اساس دسته‌بندی"
            ariaLabel="Filter Category"
            filterMatchMode="contains"
          ></p-columnFilter>
        </th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <div class="flex items-center gap-2">
            <img [src]="product.image" style="width: 20px" />
            <span>{{ product.name }}</span>
          </div>
        </td>
        <td>
          {{ product.brand }}
        </td>
        <td>
          {{ product.categories }}
        </td>
        <td>
          {{ product.summary }}
        </td>
        <td>
          {{ product.quantity }}
        </td>
      </tr>
    </ng-template>
  </p-table>
  @if (isEmpty()) {
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">محصولی یافت نشد</td>
    </tr>
  </ng-template>

  }
</div>
