<div class="container mt-5 card p-3">
  <!-- Dashboard Header -->
  <div class="row mb-4">
    <div class="col-12">
      <h1 class="text-center fw-bold">داشبورد</h1>
    </div>
  </div>

  <!-- Dashboard Cards -->
  <div class="row g-4 mb-4 text-center">
    <div class="col-sm-6 col-lg-3">
      <div class="card shadow-sm bg-light">
        <div class="card-body">
          <i class="text-primary"></i>
          <p class="card-text fs-1 text-primary">{{ productSize }}</p>

          <h5 class="card-title font-bold fw-bold mt-3">تعداد محصولات</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card shadow-sm bg-light">
        <div class="card-body">
          <i class="fs-2 text-danger"></i>
          <p class="card-text fs-1 text-danger">41</p>

          <h5 class="card-title font-bold fw-bold mt-3">تعداد برندها</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card shadow-sm bg-light">
        <div class="card-body">
          <i class="text-success"></i>
          <p class="card-text fs-1 text-success">76</p>

          <h5 class="card-title fw-bold mt-3">میزان فروش</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card shadow-sm bg-light">
        <div class="card-body">
          <i class="text-warning"></i>
          <p class="card-text fs-1 text-warning">{{ customerSize }}</p>

          <h5 class="card-title fw-bold mt-3">تعداد اعضا</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Monthly Recap Report -->
  <div class="card shadow-sm mb-4">
    <div class="card-header fw-bold">گزارش محصولات</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <h6 class="fw-bold">میزان محصولات در هر دسته</h6>
          <div id="chart" style="height: 300px">
            <app-basic-chart></app-basic-chart>
          </div>
        </div>
        <div class="col-md-4">
          <h6 class="fw-bold">اهداف آینده</h6>
          <div class="mb-3">
            <p class="mb-1">افزایش میزان فروش</p>
            <div class="progress">
              <div
                class="progress-bar bg-primary"
                style="width: 80%"
                aria-valuenow="80"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="mb-3">
            <p class="mb-1">افزایش تنوع کالا ها</p>
            <div class="progress">
              <div
                class="progress-bar bg-danger"
                style="width: 77%"
                aria-valuenow="77"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="mb-3">
            <p class="mb-1">دریافت بازخورد از مشتری</p>
            <div class="progress">
              <div
                class="progress-bar bg-success"
                style="width: 60%"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-4">
      <h5 class="text-success fw-bold">
        <i class="bi bi-arrow-up"></i> 17% $35,210.43
      </h5>
      <p class="text-muted">درآمد کل</p>
    </div>
    <div class="col-md-4">
      <h5 class="text-warning fw-bold">
        <i class="bi bi-arrow-down"></i> 0% $10,390.90
      </h5>
      <p class="text-muted">هزینه کل</p>
    </div>
    <div class="col-md-4">
      <h5 class="text-info fw-bold">
        <i class="bi bi-arrow-up"></i> 20% $24,813.53
      </h5>
      <p class="text-muted">سود کل</p>
    </div>
  </div>
</div>
