<div class="card">
  <p-carousel
    [value]="products()"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    class="content"
    autoplayInterval="3000"
  >
    <ng-template pTemplate="item" let-product>
      <div
        class="card border shadow-sm m-2 p-3"
        (click)="navigateToProduct(product.id, product.name)"
        style="
          cursor: pointer;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        "
      >
        <!-- Image Container -->
        <div class="mb-3">
          <div
            class="position-relative text-center mx-auto"
            style="max-width: 100%"
          >
            <img
              [src]="product.image || 'assets/images/placeholder.png'"
              [alt]="product.name"
              class="rounded mb-2"
              style="height: 200px; width: 100%; object-fit: scale-down"
            />
            <p-tag
              [value]="product.brand"
              class="position-absolute top-0 start-0 m-2"
              styleClass="bg-dark text-white px-2 py-1 rounded"
            ></p-tag>
          </div>
        </div>

        <!-- Product Name -->
        <div class="mb-3 text-center">
          <strong>{{ product.name }}</strong>
        </div>

        <!-- Price and Buttons -->
        <div class="d-flex justify-content-between align-items-center mt-auto">
          <div class="text-success fw-bold fs-5">
            {{ product.price | moneyFormat }}
          </div>
          <span>
            <p-button
              icon="pi pi-heart"
              severity="secondary"
              [outlined]="true"
              class="m-1"
              styleClass="btn-sm"
            ></p-button>
            <p-button
              icon="pi pi-shopping-cart"
              styleClass="m-1 btn-sm btn-primary"
            ></p-button>
          </span>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
