<form
  #form
  (ngSubmit)="onLogin()"
  [formGroup]="loginForm"
  styleClass="card-container"
>
  <p-card styleClass="user-form" class="flex">
    <div class="field">
      <label for="email" class="block label">Email</label>
      <input
        type="text"
        id="email"
        name="email"
        pInputText
        formControlName="email"
        placeholder="Email"
      />
    </div>
    <small
      class="p-error block"
      *ngIf="
        loginForm.get('email')?.invalid &&
        loginForm.get('email')?.dirty &&
        loginForm.get('email')?.touched
      "
    >
      Enter a proper email</small
    >
    <div class="field">
      <label for="password" class="block label">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        pInputText
        formControlName="password"
        placeholder="Password"
      />
    </div>
    <small
      class="p-error block"
      *ngIf="
        loginForm.get('password')?.invalid &&
        loginForm.get('password')?.dirty &&
        loginForm.get('password')?.touched
      "
    >
      Password invalid</small
    >
    <button
      pButton
      type="submit"
      label="Login"
      [disabled]="loginForm.invalid"
    ></button>
    <p class="p-error block" *ngIf="!authBoolean">
      Email or Password Incorrect! Try again.
    </p>
    <a
      routerLink="/signup"
      styleClass="link"
      routerLinkActive="router-link-active"
      >Not a user yet? Sign up!</a
    >
  </p-card>
</form>
