:host >>> .user-form {
  width: 70%;

  place-self: center;
  margin-top: 20vh;
}
:host .card-container {
  height: 100vh;
  display: grid;
  place-items: center;
}
:host >>> .p-inputtext {
  margin-left: 0 1.5rem;
  width: 80%;
}
:host .field {
  margin-bottom: 1rem;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
:host >>> .p-button {
  display: block;
  margin: 1.5rem auto;
  background: #31aa52;
  width: 30%;
}
:host >>> .p-button:hover {
  background-color: #5dd27c;
}
:host >>> .label {
  width: 20%;
  align-self: center;
}
a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  color: #31aa52;
}
a:hover {
  color: #5dd27c;
}
