<div class="container card p-3">
  <div class="product-details row">
    <!-- Product Image -->
    <div class="col-sm-6">
      <img class="w-100" [src]="product?.image" alt="test" />
    </div>

    <!-- Product Info -->
    <div class="product-info col-sm-6">
      <div class="w-100">
        <h4>
          <strong>{{ product?.name }}</strong>
        </h4>
      </div>
      <p><strong>خلاصه</strong> {{ product?.summary }}</p>

      <div class="row">
        <div class="col-sm-4">
          <p><strong>برند</strong> {{ product?.brand }}</p>
        </div>

        <!-- Categories -->
        <div class="col-sm-8">
          <p>
            <strong>دسته‌بندی</strong>
          </p>

          <p class="mr-2">{{ product?.categories ?? [] | categoryFormat }}</p>
        </div>
      </div>

      <!-- Price and Quantity -->
      <div class="row">
        <div class="col-sm-4">
          <p>
            <strong>قیمت</strong>
            <span class="price">${{ product?.price }}</span>
          </p>
        </div>
        <div class="col-sm-8">
          <p><strong>تعداد موجود در انبار</strong> {{ product?.quantity }}</p>
        </div>
      </div>

      <!-- Description -->
      <div class="description">
        <p><strong>توضیحات</strong></p>
        <p>{{ product?.description }}</p>
      </div>
      <div class="b-container mt-2">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
