<div class="container card shadow p-4 mb-4 w-100">
  <div class="product-details row g-4">
    <!-- Product Image -->
    <div class="col-md-4 mr-0">
      <img
        class="img-fluid rounded border"
        [src]="product?.image"
        alt="Product Image"
      />
    </div>

    <!-- Product Info -->
    <div class="product-info col-md-7">
      <!-- Product Name -->
      <div class="mb-3">
        <h2 class="fw-bold text-success">{{ product?.name }}</h2>
      </div>

      <!-- Summary -->
      <p class="text-muted mb-4">
        <strong>خلاصه:</strong> {{ product?.summary }}
      </p>

      <!-- Brand and Categories -->
      <div class="row mb-4">
        <div class="col-sm-6">
          <p class="mb-2">
            <strong>برند:</strong>
            <span class="text-secondary">{{ product?.brand }}</span>
          </p>
        </div>
        <div class="col-sm-6">
          <p>
            <strong>دسته‌بندی:</strong>
            <span>{{ product?.categories ?? [] | categoryFormat }}</span>
          </p>
        </div>
      </div>

      <!-- Price and Quantity -->
      <div class="row mb-4">
        <div class="col-sm-6">
          <p>
            <strong>قیمت:</strong>
            <span class="text-success fs-5">{{
              product?.price ?? 1000 | moneyFormat
            }}</span>
          </p>
        </div>
        <div class="col-sm-6">
          <p>
            <strong>تعداد موجود در انبار:</strong>
            <span class="text-danger">{{ product?.quantity }}</span>
          </p>
        </div>
      </div>

      <!-- Description -->
      <div class="description mb-4">
        <p><strong>توضیحات:</strong></p>
        <p class="text-justify text-muted">{{ product?.description }}</p>
      </div>

      <!-- Add to Cart Button -->
      <ng-content></ng-content>
    </div>
  </div>
</div>
