::ng-deep .p-panelmenu-submenu-icon {
  display: none !important;
}
::ng-deep.p-panelmenu-submenu-icon:not(.p-selected) {
  display: none !important;
}
/* Hide the arrow icon for items with submenus */
.custom-panel-menu .p-panelmenu-icon {
  display: none !important;
}

/* Adjust panel menu styles */
.p-panelMenu-wrapper {
  margin-bottom: 1rem;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .content-wrapper {
    margin-top: 1rem;
  }
}

/* Adjust sidebar styles */
.custom-panel-menu ::ng-deep .p-panelmenu-header {
  font-size: 1rem;
  padding: 0.8rem;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.custom-panel-menu ::ng-deep .p-panelmenu-header:hover {
  background-color: #e9ecef;
  transition: background-color 0.2s;
}
::ng-deep .p-icon-wrapper {
  order: 1;
  margin-inline-start: auto;
}
