<div class="wrapper row mt-4">
  <!-- Sidebar -->
  <div class="col-md-3 col-sm-12">
    <div class="p-panelMenu-wrapper">
      <p-panelMenu
        [model]="items"
        [multiple]="true"
        [style]="{ width: '100%' }"
        class="custom-panel-menu"
      ></p-panelMenu>
    </div>
  </div>

  <!-- Content Wrapper -->
  <div class="content-wrapper col-md-9 col-sm-12">
    <div class="content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
